body{
    background-image: url(Кофе2.jpg);
    background-size: cover; 
    /* min-width: 981px; 
    min-height: 792px; */
    }

/* @media (min-width: 981px) {
        body {
          width: 981px;
          margin: 0 auto;
        }
      } */

.divleft{
    display: inline-block;
    width: 45%;
    height: 100%;
    width: inherit;
    max-width: inherit;
    margin-top: 100px;
    }

form{
    display: inline-block;
    width: 430px;
    height: 500px;
    background: radial-gradient(70% 70%, #020406, #9C5527);
    border-radius: 6px;
    margin-left: 100px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}

.calcbuttons{
    display: inline-block;
    width: 400px;
    height: 410px;
    }
table{
    border-spacing: 5px 25px;
	border-collapse: separate;
}
.calcwindow{
    width:400px;
    height: 60px;
    margin-top: 30px;
    border-radius: 6px;
    border: none;
    background-color: black;
    font-size: 40px;
    text-align: end;
    color: #D8D2BC;
        }

button{
    width: 90px;
    height: 50px;
    border-radius: 6px;
    background-color:#B1AC99;
    border: 2px solid black;
    font-size: 25px;
    font-family: gabriola;
    font-weight: bold;
    justify-content: space-around;
    cursor: pointer;
    }    


button:hover{
    background-color: #1B110B;
    color: #D8D2BC;
}

#btnCE:hover{
    background-color: rgb(209, 33, 33);
    color: black; 
}
#btnC:hover{
    background-color: rgb(209, 33, 33);
    color: black;
}
#btnravno{
    width: 90px;
    height: 128px;
}
#btn0{
    width: 195px;
    height: 50px;
}

.How{
    display: inline-block;
    width: 90%;
    /* position: fixed; */
    margin-left: 100px;
        }
.divright{
    width: 50%;
    height: 60%;
    display: inline-block;
}

.divList{
    display: inline-block;
    width: 90%;
    height: 200px;
    float: right;
    font-family: gabriola;  
    font-size: 20px; 
    color: #D8D2BC;
    }



h1{
    color: #D8D2BC;
    font-size: 60px;
    font-family: gabriola;
    text-align: center;
    vertical-align: top;
    margin-bottom: 5px;
    
}
a{
    width: 250px;
    height: 35px;
    margin-top: 5px;
    color: #401C0E;
    border: 1px solid;
    background-color:#d8d2bcd0;
    border-radius: 20px;
    font-family: gabriola;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-weight: bold;
    cursor: pointer;
    text-decoration-style: solid;
}

.clear{
    clear:both;}

